
@keyframes transx {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% { 
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes transy {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% { 
    opacity: 1;
    transform: translateY(0);
  }
}