*, ::after, ::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
}

body { 
  width: 100vw;
  height: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 90%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
}
.box-logo {
  width: 15%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 90%;
  height: 100%;
}
.header-items {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-item {
  cursor: pointer;
}

.nav {
  width: 90%;
  height: 10vh;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-items {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-item {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.section1 {
  width: 90%;
  height: 70vh;
  background-color: #EEE;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section1-article {
  width: 95%;
  height: 85%;
  align-items: center;
  justify-content: flex-start;
}
.section1-article-title {
  width: 20%;
  height: 10%;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5vw;
}
.section1-article-card {
  width: 100%;
  height: 35%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.section1-article-card-title  {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start
}
.section1-article-card-items  {
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section1-article-card-item {
  cursor: pointer;
  font-weight: bold;
}
.big-text {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 3vw;
}
.text-plain {
  text-transform: uppercase;
  color: #FFF;
}
.text-creuse {
  text-transform: uppercase;
  background: linear-gradient(to top, rgb(240, 123, 117) , yellow);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.section2 {
  margin-top: 5%;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.section2-title {
  width: 100%;
  font-size: 2vw;
  text-transform: uppercase;
  color: #3E885B;
}
.section2-items  {
  margin-top: 2.5%;
  width: 95%;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #3E885B;
}
.section2-item {
  height: 100%;
  margin-right: 3%;
  font-size: 1.2vw;
}
.section2-grids {
  margin-top: 5%;
  width: 95%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
}
.section2-grid {
  position: relative;
  width: 24%;
  height: 100%;
  background-color: #EEE;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: 1s;
}
.section2-grid::after { 
  cursor: pointer;
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #3E885B , rgba(0, 0, 0, 0));
}
.section2-grid-title {
  text-transform: uppercase;
  color: #FFF;
  font-size: 2vw;
  font-weight: bold;
  position: absolute;
  z-index: 5;
  bottom: 25%;
}
.section2-grid-desc {
  color: #FFF;
  width: 80%;
  height: 20%;
  text-align: center;
  font-size: 1.5vw;
  font-weight: lighter;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: hidden;
}
.section2-btn {
  margin-top: 5%;
  background-color: #3E885B;
  color: #FFF;
  border: 1px solid #FFF;
  padding: 1% 2%;
  transition: 1s;
}

.section3 {
  margin-top: 5%;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.section3-grids {
  margin-top: 3%;
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: hidden;
}
.section3-grid {
  width: 28%;
  height: 45%;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center top;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid #3E885B;
  transition: 1s;
}
.section3-grid-title {
  width: 80%;
  text-transform: uppercase;
  color: #000;
  font-size: 1.6vw;
  font-weight: bold;
  text-align: left;
}
.section3-grid-desc {
  color: #000;
  width: 80%;
  height: 40%;
  text-align: left;
  font-size: 1.3vw;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: hidden;
}

.section4 {
  margin-top: 5%;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.section4-grids {
  width: 95%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow-y: hidden;
}
.section4-grid {
  width: 23%;
  height: 80%;
  background-color: #EEE;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section4-grid-desc {
  background-color: #FFF;
  color: #000;
  width: 100%;
  height: 30%;
  padding: 5% 5% 0;
  text-align: center;
  font-size: 1.5vw;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: hidden;
}
.section4-box  {
  margin-top: 2.5%;
  width: 95%;
  height: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section4-texts {
  width: 80%;
  height: 60%;
  font-size: 1.2vw;
}
.section4-desc {
  width: 90%;
  font-size: 1.1vw;
  font-weight: bold;
}
.section4-box .section2-btn {
  margin-top: 0%;
}