@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("../../global/css/animation.css");
@import url("../../global/css/header.css");
@import url("../../global/css/nav.css");
@import url("../../global/css/main.css");
@import url("./section.css");
@import url("../../global/css/footer.css");