 .section {
  width: 80%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.article-title {
  width: 100%;
  font-size: 2vw;
  font-weight: bold;
  text-transform: uppercase;
  color: #3E885B;

}
.article-desc {
  width: 100%;
  font-size: 2.6vh;
  text-align: left;
  color: #3E885B;
}
.article-desc .fas{
  font-size: 0.7vw;
  margin-right: 1vw;
}
.article-block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.article-block-text {
  width: 50%;
  height: 100%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
.article-block-img {
  width: 50%;
  height: 65vh;
  object-fit: cover;
}

@media screen and (max-width:900px){

  .section {
    width: 90%;
  }

}
@media screen and (max-width:500px){

  .section {
    width: 95%;
  }

}