@keyframes transxR {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% { 
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes transxL {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% { 
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes transyB {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% { 
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes transyT {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% { 
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bonceOut {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% { 
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bonceIn {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% { 
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes fade {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.9;
  }
  100% { 
    opacity: 1;
  }
}