.section1 {
  width: 80%;
  height: 80vh;
  background-color: #EEE;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fade 1s ;
}
.section1-article {
  width: 95%;
  height: 85%;
  align-items: center;
  justify-content: flex-start;
  /* animation: bonceOut 2s ; */
}
.section1-article-title {
  width: 20%;
  height: 10%;
  background-color: #FFF;
  color: #3E885B;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.4vw;
}
.section1-article-card {
  width: 100%;
  height: 35%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section1-article-card-title  {
  width: 95%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start
}
.section1-article-card-items  {
  width: 95%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section1-article-card-item {
  cursor: pointer;
  font-weight: bold;
}
.section1-article-card-item:hover {
  color: #3E885B;
}
.big-text {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 3vw;
}
.text-plain {
  text-transform: uppercase;
  color: #FFF;
  /* animation: transyT 5s ; */
}
.text-creuse {
  text-transform: uppercase;
  color: #FFDD00;
  /* animation: transyT 6s ; */
}
@media screen and (max-width:900px){
  
  .section1 {
    width: 90%;
  }

}
@media screen and (max-width:500px){
  
  .section1 {
    width: 95%;
  }

}