.section3 {
  margin-top: 5%;
  width: 80%;
  height: 100vh;
  max-height: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: visible;
}
.section3-grids {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-x: visible;
}
.section3-grid {
  width: 23%;
  height: 80%;
  background-color: #FFF;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section3-grid:hover {
  transform: scale(1.10);
}
.section3-grid-desc {
  background-color: #FFF;
  color: #000;
  width: 100%;
  height: 30%;
  padding: 5% 5% 0;
  text-align: center;
  font-size: 1.2vw;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: hidden;
}
.section3-grid-desc .green{
  font-size: 1.2vw;
  padding: 0 5% 1%;
  margin-top: 1%;
}
.section3-grid-desc .red{
  background-color: rgba(233, 20, 20, 0.44);
  font-size: 1.2vw;
  padding: 0 5% 1%;
  margin-top: 1%;
  border-radius: 5px;
}
.section3-box  {
  margin-top: 5%;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section3-texts {
  width: 80%;
  height: 60%;
  overflow-y: hidden;
}
.section3-desc {
  margin-top: 1%;
  width: 90%;
  font-size: 1.2vw;
  font-weight: bold;
}
.section3-box .section2-btn {
  margin-top: 0%;
}
@media screen and (max-width:900px){

  .section3 {
    width: 90%;
  }

}
@media screen and (max-width:500px){

  .section3 {
    width: 95%;
  }
  
}