.section {
  width: 80%;
  height: 50vh;
  background-color: #3e885c;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}
.section-article {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  animation: bonceOut 1s ;
}
.section-article-title {
  width: 70%;
  height: 20%;
  background-color: #FFF;
  color: #3E885B;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
}
.section-article-card {
  width: 90%;
  height: 6 0%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section-article-card-items  {
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section-article-card-item {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-article-card-item:hover {
  color: #3E885B;
}

@media screen and (max-width:900px){
  
  .section {
    width: 90%;
  }

}
@media screen and (max-width:500px){
  
  .section {
    width: 95%;
  }

}