.section2 {
    margin-top: 5%;
    width: 80%;
    height: 60vh;
    max-height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: visible;
  }
  .section2-tittle {
    width: 100%;
    font-size: 2vw;
    font-weight: bold;
    text-transform: uppercase;
    color: #3E885B;
  
  }  
  .section2-grids {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    overflow-x: visible;
  }
  .section2-grid {
    width: 20%;
    height: 80%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
    margin: 0.5%;
  }
  .section2-grid-img {
    width: 100%;
    height: 90%;
    background-color: #eee;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: 1s;
  }
  .section2-grid-desc {
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
    color: #FFF;
    font-size: 1vw;
  }
  .red, .green{
    padding: 1%;
    width: 100%;
  }
  .name{
   font-weight: bold;
  } 
 .green{
    background-color: #3E885B;
  } 
  .red{
    background-color: rgba(233, 20, 20);
  }